.uruk-bg-color{
    background:#3dc5e7;
}
.bg-svg{
    background: url(bg.svg);
    background-size: cover !important;
}
.bg-black-svg{
    background: url(bgblack.svg);
    background-size: cover !important;
}
.overlay{
    box-shadow: inset 0 0 8px rgb(255 255 255 / 41%);
  
    background-color: #ffffff66;
   
}
