.uruk-bg-color{
    background:#3dc5e7;
}

.TopBar{
    background: url(TopBar.svg);
    background-size: cover !important;
    position: absolute;
    z-index: 1;    
    width: 100vmax;
    height: 200px;
}