.Logo{
    background-image: url(../icons/Logo.svg);
    width: 34%;
    height: 57%;
}
.about-div{
    background: linear-gradient(
        45deg, #3dc5e7, #37c871);
        padding: 1px;
    box-shadow: 12px 4px 20px 8px #cbcbcb24;

  
}
.player-icon{
    background-image: url(../icons/player.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
@media (max-width: 1024px){
    .about-us-contaner{
        width: 66% !important;
        margin-right: auto !important;
        margin-left: auto !important;
    } 
    body{
        overflow: visible !important;
    }
    .Logo{
       background-size: cover;
       width: 200px;
       height: 200px;
    }
}

.about-us-contaner{
    width: 36%;
    margin-left: 92px;
} 
.about-div-inside{
    background-color: white;


}
.read-more-btn{
    background: linear-gradient(94deg, #3dc5e7, #37c87194)
}
.Logo_text{
    background: linear-gradient(94deg, #3dc5e7, #37c87194);
    font-size: 4em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
*{

    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}