@media (max-width: 1024px){
.nav-btn-color
{
    background:#d1d1d15f !important;
}
.nav-btn-txt{
    color: #000000;
}
}
.nav-btn-color
{
    background: #ffffff30;
    
}
.nav-btn-color:hover
{
    background:#38c894!important;
}
.nav-btn-txt{
    color: white;
}
.nav-btn-raduis:last-child{
border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
}
.nav-btn-raduis:first-child{
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}