@font-face {
    font-family: noto;
    src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
  }
  
  .noto-font{
      font-family: noto;
  }
  .H100Vmin{

    height: 100vmin;
}
.Special-text-color{
    background: linear-gradient(270deg, #37c871b8 , #3dc5e7);
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-wave{
   
    
    background-image: url('../icons/card-wave2.svg'),url('../icons/card-wave.svg'),url('../icons/card-wave-reversed.svg'),url('../icons/card-wave-reversed2.svg');
    background-size: cover;
    background-repeat: no-repeat;

}